/alimentos/build/Debug/
/pruevas_redes_neuronales/nbproject/private/
/herencia/nbproject/private/
/persona/nbproject/private/
/tricyclo/nbproject/private/
/Vehiculo_2.1(herencia)/nbproject/private/
/Vehiculo_2.0/nbproject/private/
/pruevaspunteros/build/Debug/
/vehiculo_f/nbproject/private/
/vehiculo_f/dist/Debug/
/pruevaspunteros/nbproject/private/
/vehiculo_f/build/Debug/
/Coche_v.1/nbproject/private/
/Coche_v.1/dist/Debug/
/Coche_v.1/build/Debug/
/alimento/nbproject/private/