/alimentos/build/Debug/
/pruevas_redes_neuronales/nbproject/private/
/herencia/nbproject/private/
/persona/nbproject/private/
/tricyclo/nbproject/private/
/Vehiculo_2.1(herencia)/nbproject/private/
/Vehiculo_2.0/nbproject/private/
/pruevaspunteros/build/Debug/